#container {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

#box {
    margin-left: 10px;
    width: 85%;
    height: 250px;
    background-color: aquamarine;
}

.para {
    padding-top: 20px;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
}

button {
    margin-left: 45%;
    width: 100px;
    height: 50px;
    color:blueviolet;
    font-size: larger;
}